@model DataAcces.Model.Person
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<p>
    Jméno: @Model.FirstName
</p>
<p>
    Příjmení: @Model.LastName
</p>
<p>
    Email: @Model.Email
</p>
<p>
    Narozen: @Model.Birth
</p>
<p>
    Registrován: @Model.Registred
</p>